* {
  font-family: "Mulish", sans-serif;
  list-style: none;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

header {
  height: 188px;
  background: #ff914d;
  margin: -8px;
}

.bar1 {
  background-color: #727279;
  height: 50px;
  margin-top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar1 img {
  margin-inline: 30px;
}

main {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.imagens {
  width: 600px;
  height: 485px;
  margin-left: 300px;
  border: 1px solid #d8d8d8;
}

.tabela {
  background-color: #333333;
  width: 600px;
  height: 485px;
}

ul {
  /* display: flex; */
  justify-content: space-evenly;
  align-content: left;
}

i {
  color: #ff5800;
}

li {
  color: white;
  display: flex;
  justify-content: left;
}

li a {
  color: white;
  cursor: default;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin-left: 10px;
  font-weight: 400;
}

h2 {
  text-align: left;
  margin-left: 10px;
  margin-top: 60px;
  color: white;
}

h4 {
  text-align: left;
  margin-left: 10px;
  margin-top: -15px;
  color: #00a000;
}

button {
  background-color: #00a000;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 35px;
  width: 400px;
  height: 50px;
  font-size: 16px;
}

button:hover {
  background-color: #1dbb25;
  transition-duration: 0.5s;
}

h5 {
  color: #333333;
  margin-top: 100px;
  border: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
  font-size: 20px;
  grid-column: 1/3;
}

h6 {
  font-size: 30px;
  text-align: left;
}
p {
  font-size: 20px;
  text-align: left;
  margin-top: -45px;
}

.caracteristicas {
  width: 600px;
  height: 485px;
  margin-left: auto;
}

.especificacoes {
  grid-column: 1/3;
}
.especificacoes ul li {
  color: #333333;
  font-weight: 700;
  margin-left: 300px;
  text-align: left;
}

footer {
  max-width: 100vw;
  margin: -8px;
  margin-top: 200px;
}

.rodape,
.rodape p {
  background-color: #383838;
  margin: 0 auto;
  height: 10vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  margin-left: 20px;
  background: #383838;
}
.contatos,
.contatos a {
  background: #383838;
}
.contatos {
  margin-right: 20px;
}

@media only screen and (max-width: 1366px) {
  .imagens {
    margin-left: 0;
  }
  .especificacoes ul li {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1280px) {
  body,
  html {
    max-width: 100vw;
  }
  header {
    max-width: 100vw;
    margin-right: 0;
  }

  main {
    max-width: 100vw;
    justify-content: right;
    align-content: center;
  }

  .tabela {
    width: 40vw;
  }
  h2,
  h4 {
    font-size: medium;
  }
  button {
    width: 30vw;
  }
  .imagens {
    width: 50vw;
    margin-left: 0;
  }

  .imagens img {
    width: 40vw;
  }

  .caracteristicas {
    max-width: 100%;
  }
  .caracteristicasimg img {
    width: 40vw;
    margin-top: 20%;
  }
  .especificacoes ul li {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }
  h2,
  h4,
  a,
  p {
    font-size: 14px;
  }
  h6 {
    font-size: 24px;
  }
  .caracteristicas {
    margin-left: 15px;
  }
  .caracteristicasimg {
    margin-right: 15px;
  }
  .especificacoes {
    margin-top: -190px;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 10px;
  }
  h2,
  h4,
  a {
    font-size: 10px;
    margin-top: 1px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
    margin-top: 1px;
  }
  .tabela,
  .imagens {
    max-height: 50vh;
  }
  .imagens img {
    max-height: 35vh;
  }
  button {
    margin-top: 1px;
    max-width: 30vw;
    max-height: 5vh;
  }

  li {
    font-size: 12px;
    margin-top: 1px;
  }
  footer {
    max-width: 100vw;
    max-height: 100vh;
  }
  p {
    font-size: 12px;
  }
  .contatos img {
    max-width: 24vw;
  }
}

@media only screen and (max-width: 414px) {
  .tabela,
  .imagens {
    max-height: 40vh;
  }
  .caracteristicasimg img {
    width: 30vw;
  }
}
