* {
    font-family: "Mulish", sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
  }
  
  header {
    height: 188px;
    background: #ff914d;
    margin: -8px;
  }
  
  .bar1 {
    background-color: #727279;
    height: 50px;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar1 img {
    margin-inline: 30px;
  }
  
  main {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  
  .imagens {
    width: 600px;
    height: 485px;
    margin-left: 300px;
    border: 1px solid #d8d8d8;
  }
  
  .tabela {
    background-color: #333333;
    width: 600px;
    height: 485px;
  }
  
  ul {
    /* display: flex; */
    justify-content: space-evenly;
    align-content: left;
  }
  
  i {
    color: #ff5800;
  }
  
  li {
    color: white;
    display: flex;
    justify-content: left;
  }
  
  li a {
    color: white;
    cursor: default;
  }
  
  h1 {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
    font-weight: 400;
  }
  
  h2 {
    text-align: left;
    margin-left: 10px;
    margin-top: 60px;
    color: white;
  }
  
  h4 {
    text-align: left;
    margin-left: 10px;
    margin-top: -15px;
    color: #00a000;
  }
  
  button {
    background-color: #00a000;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 35px;
    width: 400px;
    height: 50px;
    font-size: 16px;
  }
  
  button:hover {
      background-color: #1dbb25;
      transition-duration: 0.5s;
    }
  
  
  h5 {
      color: #333333;
      margin-top: 100px;
      border: 1px solid #d8d8d8;
      border-left: none;
      border-right: none;
      font-size: 20px;
      grid-column: 1/3;
  }
  
  h6 {
      font-size: 30px;
      text-align: left;
  }
  p {
      font-size: 20px;
      text-align: left;
      margin-top: -45px;
  }
  
  .caracteristicas {
      width: 600px;
      height: 485px;
      margin-left: auto;
  }
  
  .especificacoes {
      grid-column: 1/3;
  }
  .especificacoes ul li {
      color: #333333;
      font-weight: 700;
      margin-left: 300px;
      text-align: left;
  }

  @media only screen and (max-width: 375px) {
    body {
        margin: 0 auto;
    }  
    header {
          width: 810px;
      }
      main {
          width: 810px;
      }
      .tabela {
        width: 400px;
        margin-right: 10px;
      }
      .imagens {
          width: 405px;
          margin-left: 10px;
      }
      .imagens img {
          width: 100%;
      }
      .caracteristicas {
          width: 100%;
          margin-left: 10px;
      }
       .caracteristicasimg img {
          width: 405px;
          margin-top: 50px;

      }
      .especificacoes ul li {
          width: 405px;
          margin-left: 0;
      }
  }