* {
    font-family: "Mulish", sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
  }
  
  header {
    height: 188px;
    background: #ff914d;
    margin: -8px;
  }
  
  .bar1 {
    background-color: #727279;
    height: 50px;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar1 img {
      margin-inline: 30px;
  }

  main {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    font-size: 18px;
    text-align: left;
    font-weight: 300;
}
.referencias {
  background-color: rgb(199, 197, 194);

}
 .imagensclientes {
   display: flex;
   justify-content: space-around;
   align-content: center;
 }
.clientes {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.statsinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #afafaf;
  height: 250px;
}