* {
    font-family: 'Mulish', sans-serif;
    list-style: none;
    text-decoration: none;    
    text-align: center;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 30vh 90vh 100vh;
    grid-auto-columns: 1fr;
}

header {
    height: 188px;
    background: black;
    grid-column: 1/6;
}

ul {  
display: flex;
position: absolute;
left: 720px;
top: 80px;
}

li {
margin: 20px;
font-weight: 800;
}

ul li a {
color: white 
}


main {
    grid-column: 3/3;
    height: 1700px;
    margin-top: 100px;

}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-column-gap: 600px;
    grid-row-gap: 200px;
}

.produto1 {
    border-style: ridge;
    border-width: thin;
    border-color: #000000;
}

.produto2 {

}

.produto3 {
}

.produto4 {

}

.produto5 {
}

.produto6 {

}

h2 {
    font-size: 12px;
}

footer {
    background-color: blue;
    height: 150px;
    grid-column: 1/6;
    grid-row: 10;


}