* {
    font-family: 'Mulish', sans-serif;
    list-style: none;
    text-decoration: none;    
    text-align: center;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 30vh 90vh 100vh;
    grid-auto-columns: 1fr;
}

header {
    height: 188px;
    background: black;
    grid-column: 1/6;
}

ul {  
display: flex;
position: absolute;
left: 720px;
top: 130px;
}

li {
margin: 20px;
font-weight: 800;
}

ul li a {
color: white 
}


main {
    grid-column: 3/3;
    height: 1700px;
    margin-top: 100px;

}

.produtos {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-top: 50px;
    grid-column-gap: 350px;
    grid-row-gap: 100px;
    justify-content: center;
}

.produto1, .produto2, .produto3, .produto4, .produto5, .produto6 {
    border: 1px solid;
    border-color: #d8d8d8;
}

h2 {
    font-size: 12px;
    color: #555555;
}

h3 {
    font-size: 22px;
    font-weight: 900;
    color: #00A000;
}

h4 {
    color: #FF5510;
    font-size: 12px;
    font-weight: 800;
    margin-top: -15px;
}

button {
    background-color: #00A000;
    border: solid 1px #00A000;
    color: white;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

footer {
    background-color: blue;
    height: 150px;
    grid-column: 1/6;
    grid-row: 10;
}